#service-header{
    background-image: url("../imgs/wp-1.png") ;
}

#portfolio-header{
    background-image: url("../imgs/wp-2.jpg");
}

#blog-header{
    background-image: url("../imgs/wp-3.jpg");
}

#contact-header{
    background-image: url("../imgs/wp-4.jpg");
}